.App {
  text-align: center;
}

.header {
  color: white;
}

.middle {
  padding-bottom: 70px;
  text-align: left;
}

.content {
  padding: 20px;
  background: white;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding-top: 0;
}

.footer .divider {
  margin-top: 0;
}

